/* custom styles */
header {
  background: #ffffff;
}

.logo {
  color: #000;
  font-size: 36px;
}
.logoText span {
  color:#000;
  display: block;
  font-size: 13px;
  font-weight: bold;
}
 .logo b {
   float: left;
  height: 100px;
  width: 100px;
}

.logoText {
  font-weight: bold;
  text-align: center;
}

.panel{
  border-radius: 0px !important;
}
.panel-default >  .panelHeading {
    background-color: #0071b2;
    border-radius: 0px !important;
    color: #fff;
    font-weight: bold;
}

.myNavbar {
  background: rgba(0, 0, 0, 0.52);
  border-radius: 0;
  color: #fff;
}
.myNavbar .navbar-nav > li > a {
  color: #fff;
  font-weight: bold;
}
.myNavbar .navbar-nav > li > a:hover {
  background: transparent;
  color: #f1cd44;
}

p{
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
  margin: 0 0 15px;
}

/* media Queries */
@media (min-width: 768px) {

}

/* chat styles */

.scrolWell{
	height: 700px;
	max-height:300px !important;
	max-width:100% !important;
	overflow-y:auto !important;
	overflow-x:hidden !important;
}

@media screen and (max-width: 768px) {
    .logo {
        font-size:24px;
        text-align: left;
    }
}

@media screen and (max-width: 568px) {
  .logo {
      font-size:24px;
      text-align: left;
  }
}
